{% extends 'menu.html' %}

    {% block title %}
    <title>Ваш расклад</title>
    {% endblock %}

{% block pagename %}
<h3>Вас ждет великая удача</h3>
{% endblock %}

{% block content %}
<ol>
    <li><strong><i>Маг</i></strong> Вы всегда упорно шли к вашей цели</li>
    <li><strong><i>Колесо Судьбы</i></strong> Но мир не вознаграждал ваши старания по достоинству</li>
    <li><strong><i>Иерофант</i></strong> Теперь же вы ступили на правильную дорогу</li>
    <li><strong><i>Повешенный</i></strong> Вам предстоит сделать небольшое пожертвование</li>
    <li><strong><i>Мир</i></strong> Которое приведет вас к долгожданному успеху</li>
</ol>
{% endblock %}
